*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: "Source Sans Pro", sans-serif;
}
:root{
    --verde-oscuro: #658864;
    --verde-claro: #B7B78A;
    --gris-oscuro: #DDDDDD;
    --gris-claro: #EEEEEE;
    --verde-aqua: #e0ebe5;
    --dl-color-pallet-green: #dfe7ddff;
}
.h1{
    margin-bottom: 30px;
}
.perfil{
    width: 100%;
    display: flex;

}
.bloqueImagen{
    width: 50%;
    float: left; 
    text-align: center;
}
.bloqueDatos{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.datosForm{
  display: flex;
  flex-direction: column;
}
.user-info1{
    border: var(--verde-claro) solid 3px;
    width: 60px; /* Ancho fijo de 150px */
    height: 60px; /* Altura fija de 150px */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  }
  .user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 900px) {
    .bloqueImagen, 
    .bloqueDatos {
      float: none;
      width: 50%;
    }
    .avatar{
        width: 50%;
    }
    .bloqueDatos{
        text-align: center; 
    }
  }
  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }