*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;  
}

:root{
  --verde-oscuro: #658864;
  --verde-claro: #B7B78A;
  --gris-oscuro: #DDDDDD;
  --gris-claro: #EEEEEE;
}
.Heading-1{
  width: 100%;
  text-align: center;

}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
/* PRODUCT CART */
.step {
  display: none;
}

.step,.active {
  display: block;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

.style-titles{    
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;    
    text-transform: uppercase;
    text-align: center;
    color: var(--verde-oscuro);  
    font-weight: lighter;   
    margin-top: 10px;
}

span.style-names{
  text-align:left;
  width: 200px; 
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: var(--verde-oscuro);  
  font-size: 12px;
}
span.style-price{
  text-align: right;
  padding-right:20px; 
  width: 100px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: var(--verde-oscuro);  
  font-size: 13px;
}

.products {
  border: 1px solid var(--gris-oscuro);
  background-color: var(--verde-claro2);
  border-radius: 20px;
  padding: 10px;
}

.products:hover {
  box-shadow: 0px 0px 30px 1px rgba(10, 51, 29, 0.3);
}

.product {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  border: 1px solid var(--gris-oscuro);
  margin-bottom: 10px;
  padding: 10px;  
  border-radius: 20px;
  width: 96%;
 
}
.product:hover {
  box-shadow: 0px 0px 30px 1px rgba(10, 51, 29, 0.3);
}

.product img {
  max-width:100%;
  height: 60px;
  margin-right: 10px;
}

.summary {  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--gris-oscuro);
  padding: 10px;
  background-color: var(--verde-claro2);
  border-radius: 20px;  
  /* height: 60px; */
}
.summary:hover {
  box-shadow: 0px 0px 30px 1px rgba(10, 51, 29, 0.3);
}
.total-price-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}

#total-sumary{
  text-align:center;
}
#price{
  text-align: right;
}


/* FORM */
#heading-form{
  text-align: center;
  padding: 20px; 
  color: var(--verde-oscuro2);  
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 0.4em;
  background-color: var(--verde-claro2);
  border-radius: 20px;
  padding-bottom: 20px; 
}
  
.cardForm {
 /* background-image: linear-gradient(163deg, #08a953 0%, #ff5900 100%);*/
  text-align: center;
  border-radius: 22px;
  transition: all .3s;
  margin-bottom: 20px;  
}

.data {
  border-radius: 0;
  transition: all .2s;
  background-color: #13034b00;

}

.data:hover {
  transform: scale(0.98);
  border-radius: 20px;
} */

.cardForm:hover {
  box-shadow: 0px 0px 30px 1px rgba(10, 51, 29, 0.3);
}

label {
  font-weight: bold;
}

.container-button{
  display: flex;
  justify-content: center;
  
}

/* NEWSLETTER */
.container {
  /*max-width: 600px;*/  
  padding: 20px;
  background-color: #e0ebe5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;

}
h3 {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  font-family:"Source Sans Pro", sans-serif;
  font-size: 13px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family:"Source Sans Pro", sans-serif;
  font-size: 12px;
  text-align: center;
}
input[type="radio"] {
  margin-right: 10px;
}
.terms {
  margin-top: 15px;
}

