.paleta01 {
    color: #9c89b8ff;
    color: #f0a6caff;
    color: #efc3e6ff;
    color: #f0e6efff;
    color: #b8beddff;
    URL: https://coolors.co/9c89b8-f0a6ca-efc3e6-f0e6ef-b8bedd
}
.paleta02 {
    color: #79E0EE;
    color: #98EECC;
    color: #D0F5BE;
    color: #FBFFDC;
    URL: https://colorhunt.co/palette/79e0ee98eeccd0f5befbffdc
}
.paleta03 {
    color: #C2DEDC;
    color: #ECE5C7;
    color: #CDC2AE;
    color: #116A7B;
    URL: https://colorhunt.co/palette/c2dedcece5c7cdc2ae116a7b
}
.paleta04 {
    color: #F3F1F5;
    color: #F0D9FF;
    color: #BFA2DB;
    color: #7F7C82;
    URL: https://colorhunt.co/palette/f3f1f5f0d9ffbfa2db7f7c82
}
.paleta05 {
    color: #658864;
    color: #B7B78A;
    color: #DDDDDD;
    color: #EEEEEE;
    URL: https://colorhunt.co/palette/658864b7b78addddddeeeeee
}
