<!DOCTYPE html>
<html>
  <head>

    <%- include('./partials/head.ejs') %>
  
      <title>EcoEquip - Home</title>
      
  </head>
  <body>
    <figure>
      <img src="./img/logotransp.png">
    </figure>
    <p>Bienvenidos</p>
  </body>
</html>
