<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/stylelogin.css" />

    <title>EcoEquip - Login</title>
</head>

<body>
  <div class="container">
    <div class="mark">
      <img src="./img/logoEcoEquipParaFondoClaro.png" alt="EcoEquip" />
    </div>
    <div class="form">
      <h2>Bienvenido</h2>
      <h3>Ingresá los datos de tu cuenta</h3>
      <form class="signinForm">
        <input type="email" autocomplete="email" placeholder="Correo" aria-label="" />
        <input type="password" autocomplete="new-password" placeholder="Contraseña" />
        <button type="submit">Ingresar</button>
      </form>
      <hr class="divider" />
      <span>¿No tenés cuenta? <a href="/register">Registrate</a></span>
    </div>
  </div>

  <div class="container land"></div>
</body>

</html>