<!DOCTYPE html>
<html lang="es">
    <head>

        <%- include('./partials/head.ejs') %>
      
          <title>EcoEquip - Home</title>
          
      </head>
<body>

    <h1>PRODUCTOS ORDENADOS POR FECHA</h1>
    <ul>

        <li>

        </li>

        
    </ul>
</body>
</html>