<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/stylelogin.css" />
    <title>EcoEquip - Agregar Producto</title>
</head>

<body>
  <div class="container">
    <div class="mark">
      <img src="./img/logoEcoEquipParaFondoClaro.png" alt="EcoEquip" />
    </div>
    <div class="form">
      <h2>Agregar Producto</h2>
      <br>
      <form class="signinForm" action="/productosCreate" method="post" enctype="multipart/form-data" >
        <label for="nombre">Nombre del Producto:</label>
        <input type="text" name="nombre" id="nombre" autocomplete="NombreDeProducto" placeholder="Ingresar Nombre de Producto" aria-label="" />
        <label for="precio">Precio:</label>
        <input type="text" name="precio" id="precio" autocomplete="Precio" placeholder="Ingresar Precio" aria-label="" />
        <label for="modelo">Modelo del Producto:</label>
        <input type="text" name="modelo"  autocomplete="Modelo" placeholder="Ingresar Modelo" aria-label="" />
        <label for="descripcion">Descripción del Producto:</label>
        <textarea rows="4" cols="60" name="descripcion" id="descripcion" autocomplete="Descripcion" placeholder="Ingresar Descripción" aria-label=""></textarea>        
        <br>        
        <label for="categorias">Categoría del Producto:</label>
        <select type="select" class="categorias_id" name="categorias_id" id="categorias_id">
          <option value="" disabled selected>- Seleccionar Categoría - </option>
          <% categorias.forEach(categorias => { %>
          <option value="<%= categorias.id %>"><%= categorias.tipo %></option>
          <% }); %>
        </select><br>
        <input type="file" id="imagen_01" name="imagen_01" accept="image/" multiple required>
        <br>
        <!--
        <input type="file" id="imagen_02" name="imagen_02" accept="image/" multiple required>
        <br>
        <input type="file" id="imagen_03" name="imagen_03" accept="image/" multiple required>-->
        <br>
        <br>
        <button type="submit">Agregar Producto</button>
      </form>
    </div>
  </div>
  <div class="container land"></div>
  <script src="/js/productosAddValidation.js"></script>
</body>

</html>