</section>
<section class="blogcontainer">

  <section class="home-banner">
    <article class="home-container05">
      <h3 class="home-text19 Heading-3">ECOEQUIP</h3>
      <span class="home-text20">
        <span></span>
        <span>Thermal Containers</span>
      </span>
    </article>
  </section>
  <section class="home-container06 max-width-container">
    <article class="home-container07">
      <span class="home-text23">
        <span>En ECOEQUIP elegimos acompañarte en todas tus aventuras
        </span>
        <br />
        <span>al aire libre, desde 2003.</span>
        <br />
        <span>
          TEXTO RANDOM Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ab eos ratione tempora
          numquam eum nostrum, quidem soluta alias corrupti officiis velit asperiores fuga id nisi aliquam
          repellat rem? Impedit.
        </span>
      </span>
      <img alt="M3271427" src="/img/logotransp.png" class="home-svg" />
      <button class="button">+ info</button>
    </article>
  </section>
</section>