<section class="section-container column">
<section class="max-width-container">
    <article class="section-heading-section-heading">
      <h1 class="section-heading-text Heading-2">
        <span>COMPRA POR CATEGORÍA</span>
      </h1>
      <span class="section-heading-text1">
        <span>
          Comenza a comprar en función de las categorías que te interesan
        </span>
      </span>
    </article>
    <section class="home-cards-container">
      <article class="category-card-category-card">
        <img alt="image" src="/img/tazasprincipal2.jpg" class="category-card-image" />
        <span class="category-card-text"><span>Tazas</span></span>
      </article>
      <article class="category-card-category-card">
        <img alt="image" src="/img/botellasprincipal.png" class="category-card-image" />
        <span class="category-card-text"><span>Botellas</span></span>
      </article>
      <article class="category-card-category-card">
        <img alt="image" src="/img/kidsprincipal.jpg" class="category-card-image" />
        <span class="category-card-text"><span>Kids</span></span>
      </article>
      <article class="category-card-category-card">
        <img alt="image" src="/img/largeprincipal.jpg" class="category-card-image" />
        <span class="category-card-text"><span>Alta Capacidad</span></span>
      </article>
      <article class="category-card-category-card">
        <img alt="image" src="/img/coleccionarte.jpg" class="category-card-image" />
        <span class="category-card-text"><span>Colección "JAPAN"</span></span>
      </article>
      <article class="category-card-category-card">
        <img alt="image" src="/img/flipprincipal.png" class="category-card-image" />
        <span class="category-card-text"><span>Fast Flip</span>
        </span>
      </article>
      <article class="category-card-category-card">
        <img alt="image" src="/img/ofertasprincipal.png" class="category-card-image" />
        <span class="category-card-text"><span>Ofertas</span>
        </span>
      </article>
    </section>
  </section>