<section class="home-full-width-banner section-container">
    <article class="home-left4">
      <div class="home-content">
        <span class="home-text29">COLECCIONES</span>
        <span class="home-text30">
          Colecciones especiales en botellas y tazas termicas.
        </span>
      </div>
      <div class="home-btn button">
        <span class="home-text31">Explorá nuestras colecciones</span>
      </div>
    </article>
    <img alt="Rectangle13271410" src="/img/coleccionarte1.jpg" class="home-image6" />
  </section>
</div>
</div>
</section>