<section class="home-footer">
    <div class="max-width-container">
      <footer class="home-footer1">
        <article class="home-container09">
          <h3 class="home-text32 Heading-3">ECOEQUIP</h3>
          <span class="home-text33">
            <span>Buenos Aires</span>
            <br />
            <span>Argentina</span>
          </span>
          <span class="home-text36">(11) 4785-5698</span>
          <span class="home-text37">contact@ecoequip.com</span>
          <ul class="social-media-icons">
            <li><a href="https://www.facebook.com/ecoequip" target="_blank"><i class="fi fi-brands-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/ecoequip/" target="_blank"><i class="fi fi-brands-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCQ24761eY1-3s-670k906AQ" target="_blank"><i class="fi fi-brands-youtube"></i></a></li>
            <li><a href="https://www.tiktok.com/@ecoequip" target="_blank"><i class="fi fi-brands-tik-tok"></i></a></li>
          </ul>
        </article>
        <article class="home-links-container">
          <article class="home-container10">
            <span class="home-text38">PRODUCTOS</span>
            <span class="home-text39">Tazas</span>
            <span class="home-text40">Botellas</span>
            <span class="home-text41">Colecciones</span>
            <span class="home-text42">Kids</span>
            <span class="home-text43">Colección 2023 "JAPAN"</span>
            <span class="home-text44">Ofertas</span>
          </article>
          <article class="home-container11">
            <span class="home-text45">ACERCA DE ECOEQUIP</span>
            <span class="home-text46">Nuestra historia</span>
            <span class="home-text47">Contactanos</span>
          </article>
          <article class="home-container12">
            <span class="home-text51">PERFIL</span>
            <a href="login"><span class="home-text520">Acceder a tu perfil</span></a>
            <a href="productCart"><span class="home-text52">Carrito de compras</span></a>
            <span class="home-text53">Seguí tu pedido</span>
            <span class="home-text54">Gifts Cards</span>
            <span class="home-text55">Dudas y Consultas Grales.</span>
          </article>
      </div>
      </article>
      <div class="home-container13">
      <div class="home-container">
        <span class="home-text56">Configuración | Nuestros Datos | Terminos y condiciones | Politicas de Privacidad | Reclamos</span>
      </div>
      <span class="home-text57">© 2023 - EcoEquip</span>
    </footer>
    </div>
  </section>
</div>
</div>
<script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>