<section class="section-container">
  <div class="max-width-container">
    <article class="section-heading-section-heading">
      <h1 class="section-heading-text Heading-2">
        <span>OFERTAS ESPECIALES</span>
      </h1>
      <span class="section-heading-text1">
        <span>
          Explorá nuestras ofertas mensuales, nuevos productos y lo mas buscado para tu proxima aventura
        </span>
      </span>
    </article>
    <section class="home-gallery">
      <article class="home-left1">
        <div class="item-card-gallery-card item-card-root-class-name4">
          <img alt="image" src="/img/oferta1.jpg" class="item-card-image" />
          <div class="item-card-container">
            <h3 class="item-card-text"><span>Botella 01</span></h3>
            <div class="item-card-container2">
              <span class="item-card-currency"><span>$</span></span>
              <span class="item-card-value"><span>4000</span></span>
            </div>
          </div>
        </div>
      </article>
      <section class="home-right1">
        <div class="home-top">
          <div class="home-left2">
            <article class="item-card-gallery-card item-card-root-class-name2">
              <img alt="image" src="/img/oferta1.jpg" class="item-card-image" />
              <div class="item-card-container">
                <h3 class="item-card-text">
                  <span>Botella 02</span>
                </h3>
                <div class="item-card-container2">
                  <span class="item-card-currency">
                    <span>$</span>
                  </span>
                  <span class="item-card-value">
                    <span>4000</span>
                  </span>
                </div>
              </div>
            </article>
          </div>
          <div class="home-right2">
            <article class="item-card-gallery-card item-card-root-class-name3">
              <img alt="image" src="/img/oferta1.jpg" class="item-card-image" />
              <div class="item-card-container">
                <h3 class="item-card-text">
                  <span>Botella 03</span>
                </h3>
                <div class="item-card-container2">
                  <span class="item-card-currency">
                    <span>$</span>
                  </span>
                  <span class="item-card-value">
                    <span>4500</span>
                  </span>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="home-bottom">
          <div class="home-left3">
            <article class="item-card-gallery-card item-card-root-class-name1">
              <img alt="image" src="/img/oferta1.jpg" class="item-card-image" />
              <div class="item-card-container">
                <h3 class="item-card-text">
                  <span>Botella 04</span>
                </h3>
                <div class="item-card-container2">
                  <span class="item-card-currency">
                    <span>$</span>
                  </span>
                  <span class="item-card-value">
                    <span>6000</span>
                  </span>
                </div>
              </div>
            </article>
          </div>
          <div class="home-right3">
            <article class="item-card-gallery-card item-card-root-class-name6">
              <img alt="image" src="/img/oferta1.jpg" class="item-card-image" />
              <div class="item-card-container">
                <h3 class="item-card-text"><span>Botella 05</span></h3>
                <div class="item-card-container2">
                  <span class="item-card-currency">
                    <span>$</span>
                  </span>
                  <span class="item-card-value"><span>3500</span></span>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>