<section class="home-main">
  <article class="home-hero section-container">
    <div class="home-max-width max-width-container">
      <div class="home-hero1">
        <div class="home-container03">
          <div class="home-info">
            <img alt="Rectangle43271305" src="/img/user.png" class="home-image4" />
            <span class="home-text12">
              <span>thermal mug</span>
              <br />
              <span>modelo - 2023</span>
            </span>
          </div>
          <h1 class="home-text16 Heading-1">mystical mug</h1>
          <div class="home-container04">
            <span class="home-text17">desde</span>
            <span class="home-text18">$9000</span>
          </div>
          <div class="home-btn-group">
            <a href="/productDetail"><button class="button">Explora nuestra colección</button></a>
          </div>
        </div>
        <img alt="image23271449" src="/img/tazasprincipal.png" class="home-image5" />
      </div>
    </div>
  </article>